*{
	text-decoration: none;
}
::-webkit-scrollbar{
	background-color: #73c2fa;
}
::-webkit-scrollbar-thumb{
	background-color: #233288;
	border-radius: 50px;
}
.b{
	background-image: url(../imagenes/f-estrellas.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
}
#header {
	margin: 1em;
	background: #73c2fa;
	max-width: 100%;
	display: grid;
	justify-items: center;
	gap: 3em;
	font-family: 'Imprima', sans-serif;
	
}
.cont-nombre{
	width: 31em;
	height: 3em;
	margin: 1em;
	color: #000000;
	background-color: #8d85f1;
	text-align: center;
}
#header nav ul {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	
}
#header nav ul li {
	line-height: 40px;
	padding: 1em 2em;
	background-color: #daa68f;
	border-radius: 20px;
}
#header a {
	color: #ffffff;
}

.astronomia {
	display: flex;
	gap: 1em;
	flex-direction: row;
	font-family: Arial, Helvetica, sans-serif;
	margin: 2em;
	background-color: #162992;

}
.concepto, .estudio, .nose{
	width: 30em;
	padding: 0.5em;
	text-align: justify;
	
}
.concepto #titulo, .estudio #titulo, .nose #titulo{
	text-align: center;
}
